---
const { title } = Astro.props;
---

<aside>
	{title && <h3>{title}</h3>}
	<div>
		<slot />
	</div>
</aside>

<style>
	.aside-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	aside {
		text-align: justify;
		background-color: lavender;
		border-radius: 10px;
		padding: 10px;
		margin: auto 1em 2em;

		h3 {
			padding: 10px;
			text-align: center;
		}

		p {
			margin: 0;
		}
	}

	@media only screen and (max-width: 1080px) {
		aside {
			margin: auto 0em 2em;
		}
	}
</style>
