---
const { Padding = "-2em" } = Astro.props;
---

<div class="caption-container">
	<p class="caption"><slot /></p>
</div>

<style define:vars={{ extraPadding: Padding }}>
	.caption-container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: var(--extraPadding);
	}
	.caption {
		font-style: italic;
		text-align: center;
	}
</style>
