---
const { id, colour } = Astro.props;
---

<p style="position: relative;">
	<canvas id={id} style=`background-color: ${colour};`> </canvas>
	<canvas id=`${id}-cover` style=`background-color: black;position: absolute;top: 0;left: 0;`> </canvas>
</p>

<style>
	canvas {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		background-color: salmon;

		/* Consider modifying this line if touch inputs don't work */
		touch-action: none;
	}
	#${id}-cover{

	}
</style>
