---
const { id, colour } = Astro.props;
---

<p>
	<canvas id={id} style=`background-color: ${colour};`> </canvas>
</p>

<style>
	canvas {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		background-color: salmon;
	}
</style>
